nav {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}
